In [1]:
import pandas as pd
import numpy as np

In [2]:
statement_1_df = pd.read_csv("./statement1.csv")
statement_2_df = pd.read_csv("./statement2.csv")
(statement_1_df,statement_2_df)

test = statement_1_df.reset_index().to_json(orient='records')

In [3]:
statement_1_df=statement_1_df.add_prefix('st1_')
statement_2_df=statement_2_df.add_prefix('st2_')

In [4]:
statement_1_df
statement_2_df

merged_statements_df = statement_1_df.merge(statement_2_df, left_on=['st1_accountnum', 'st1_accounttype', 'st1_balance'], 
                     right_on=['st2_accountnum', 'st2_accounttype', 'st2_balance'], how='outer' )



def filter_data(df):
    if df['st1_accountnum'] == df['st2_accountnum'] and df['st1_accounttype'] == df['st2_accounttype'] and df['st1_balance'] ==  df['st2_balance']:
        return 1
    else:
        return 0

merged_statements_df['compare'] = merged_statements_df.apply(filter_data, axis=1)    
    
    
not_equal = merged_statements_df[merged_statements_df["compare"] == 0]  
equal = merged_statements_df[merged_statements_df["compare"] == 1]

not_equal


matchs1 = equal[['st1_accountnum', 'st1_accounttype', 'st1_balance']]
matchs2 = equal[['st2_accountnum', 'st2_accounttype', 'st2_balance']]

matchs1
matchs2

merged_statements2_df = matchs1.merge(matchs2, left_on=['st1_accountnum', 'st1_accounttype', 'st1_balance'], 
                     right_on=['st2_accountnum', 'st2_accounttype', 'st2_balance'], how='outer' )

merged_statements2_df['compare'] = merged_statements2_df.apply(filter_data, axis=1)    

merged_statements2_df[merged_statements2_df["compare"] == 0]  
merged_statements2_df[merged_statements2_df["compare"] == 1]

,st1_accountnum,st1_accounttype,st1_balance,st2_accountnum,st2_accounttype,st2_balance,compare
0,1.0,checking,87.0,1.0,checking,87.0,1
1,2.0,checking,36.0,2.0,checking,36.0,1
2,3.0,checking,82.0,3.0,checking,82.0,1
3,4.0,checking,48.0,4.0,checking,48.0,1
4,9.0,checking,54.0,9.0,checking,54.0,1
5,10.0,checking,65.0,10.0,checking,65.0,1
6,11.0,savings,24.0,11.0,savings,24.0,1
7,12.0,savings,15.0,12.0,savings,15.0,1

In [5]:
statement_1_df
# s=statement_2_df[["st2_balance"]].drop_duplicates(subset = ["st2_balance"])

statement_1_df
statement_2_df

print(statement_1_df.shape[0], statement_2_df.shape[0])

# APPEND FUNCTIONALITY
# st3 = statement_1_df.append(statement_2_df, ignore_index=True)
# print(st3.shape[0])
# st3



combined =  pd.concat([pd.concat([statement_1_df, statement_2_df], axis=0)])#.to_csv('foo.csv')
abc = combined[combined['accounttype'].notnull()].drop_duplicates(subset=['accounttype'])[['accounttype']]
abc
#abc['accounttype'].unique()
#pd.merge(statement_1_df,statement_2_df, left_on=
# for index, row in statement_1_df.iterrows():
#     print(index, row)
#    print("---"*20)

statement_1_df

15 12

KeyError: 'accounttype'

### I want to compare two files based on accountnum

In [30]:
merged_statements_df = pd.merge(statement_1_df,statement_2_df, how="inner", left_on="st1_accountnum", right_on="st2_accountnum")

# merged_statements_df = statement_1_df.merge(statement_2_df, left_on="st1_accountnum", right_on="st2_accountnum", how="inner")
merged_statements_df

,st1_accountnum,st1_accounttype,st1_balance,st2_accountnum,st2_accounttype,st2_balance
0,1,checking,87.0,1,checking,87
1,2,checking,36.0,2,checking,36
2,3,checking,82.0,3,checking,82
3,4,checking,48.0,4,checking,48
4,5,savings,80.0,5,checking,21
5,6,checking,84.0,6,savings,66
6,7,savings,66.0,7,checking,84
7,8,NaN,21.0,8,savings,80
8,9,checking,54.0,9,checking,54
9,10,checking,65.0,10,checking,65
10,11,savings,24.0,11,savings,24
11,12,savings,15.0,12,savings,15

In [ ]:
merged_statements_df[merged_statements_df['st1_accounttype'] ] # = merged_statements_df[merged_statements_df['st1_accounttype'].notnull()]
merged_statements_df

In [ ]:
# print(merged_statements_df['st1_accountnum'].str.contains(df['st1_accountnum']))
# .contains('ps', na=False, case=False)]
# print(df['st1_accounttype'].str.contains('checking', na=False, case=False))
def isNaN(string) : string != string
    
def compare_account_type(df):
    
    if df['st1_accounttype'] is not None  and 'checking' in df['st1_accounttype'] :
        print(-1)
    if (df["st1_accounttype"] == df["st2_accounttype"]) and (df["st1_accountnum"] == df["st2_accountnum"]):
        return 1
    else:
        return 0

# def compare_account_type(df):
#     if (df["st1_accounttype"] == df["st2_accounttype"]) and (df["st1_accountnum"] == df["st2_accountnum"]):
#         return 1
#     else:
#         return 0

In [ ]:
merged_statements_df['account_compare'] = merged_statements_df.apply(compare_account_type, axis=1)
merged_statements_df

In [ ]:
# merged_statements_df
merged_statements_df[merged_statements_df["account_compare"] == 0]  
merged_statements_df[merged_statements_df["account_compare"] == 1]

### I Want to compare two files and make sure they are in exact same ORDER

In [ ]:
combined_matched_on_index_df = pd.merge(statement_1_df, statement_2_df, left_index=True, right_index=True, how="outer")

In [ ]:
def compare_accountnum(df):
    if (df["st1_accountnum"] == df["st2_accountnum"]):
        return 1
    else:
        return 0

In [ ]:
combined_matched_on_index_df['order_compare'] = combined_matched_on_index_df.apply(compare_accountnum, axis=1)

In [ ]:
combined_matched_on_index_df

In [ ]:
statement_1_df.columns

In [ ]:
for i in statement_1_df.columns: print(i)

In [ ]:
test = pd.read_csv("./statement1.csv", index_col=False)
new_df = test.loc[:, test.columns != 'balance'].fillna(value="")
new_df

#new_df.columns

In [ ]:
translation = {39: None}

In [ ]:
translation
columns = str(tuple(test.columns)).translate(translation)
columns
','.join("?"*len(test.columns))

','.join(test.columns)

print(columns)
for data in test.itertuples(index=False):
    print(data)

In [ ]:
a=test.head(1)
a["accounttype"].to_string(index=False)
# print ((df['Email']).to_string(index=False))

for index,row in enumerate(test.itertuples(index=False)):
    #params = tuple([row['accountnum'], row['accounttype'], row['balance']])
    #print(params)
    print(row)

for index, row in test.iterrows():
    params = tuple([row['accountnum'], row['accounttype'], row['balance']])
    print(params)

In [ ]:
index_no = test.columns.get_loc("balance") 
print(index_no)

In [ ]:
test
get_locs = pd.DataFrame()
get_locs
# get_locs["locations"] = test["accounttype"].map({"checking":"Checking Data", "savings": "Savings Data"}) 

a=["savings"]

# for i in a:
#     #get_locs["locations"] = test["accounttype"].str.contains(i)

get_locs


# searchfor = ['og', 'at']
# s[s.str.contains('|'.join(searchfor))]
#test[test.str.contains("|".join(a))]

test[test['accounttype'].str.contains("|".join(a))]

### SPEED IN LOOPS DATA

In [ ]:
# Python 3.6.5, NumPy 1.14.3, Pandas 0.23.0

np.random.seed(0)
N = 10**5

%timeit list(map(divide, df['A'], df['B']))                                   # 43.9 ms
%timeit np.vectorize(divide)(df['A'], df['B'])                                # 48.1 ms
%timeit [divide(a, b) for a, b in zip(df['A'], df['B'])]                      # 49.4 ms
%timeit [divide(a, b) for a, b in df[['A', 'B']].itertuples(index=False)]     # 112 ms
%timeit df.apply(lambda row: divide(*row), axis=1, raw=True)                  # 760 ms
%timeit df.apply(lambda row: divide(row['A'], row['B']), axis=1)              # 4.83 s
%timeit [divide(row['A'], row['B']) for _, row in df[['A', 'B']].iterrows()]  # 11.6 s