In [1]:
import pandas as pd
import numpy as np
pokemonData = pd.read_csv('./pokemon_data.csv')
#pokemonData=pd.read_excel('./pokemon_data.xlsx')
#pokemonData=pd.read_csv('./pokemon_data.txt', encoding='latin-1', delimiter='\t')
#print(pokemonData)
#pokemonData.tail(00000000000000000)
pokemonData.columns[10:]
#print(pokemonData.columns[1:])
#pokemonData.values[13][1:]
#pokemonData["Attack"]
#[i for i in pokemonData['Name']]
# [ print(i[j],end=" ") for i in pokemonData.values for j in range(len(i))]
#print(len(pokemonData.iloc[1]))
#[print(pokemonData.iloc[1][i]) for i in range(len(pokemonData.iloc[1]))]
#for i in range(len(pokemonData.iloc[1])):
#    print(pokemonData.iloc[1][i], end=" ")
#print(pokemonData.iloc[1])
#pokemonData["Name"]
# for i in pokemonData.head(0):
#     print(i,end=" ")



# for i in pokemonData.values:
#     if i[1]== "BlastoiseMega Blastoise":
#         for j in i:
#             print(j)
# a=[ i for i in pokemonData["HP"] > 60]
# for i in pokemonData.values:
#     if 
pokemonData1 = pokemonData.copy()
pokemonData1['Speed'] = pokemonData1['Speed'].astype(float)
pokemonData1.head(0)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Total]
Index: []

In [19]:
pokemonData[["Name", "Type 1", "Type 2"]]
pokemonData.columns
pokemonData.dropna(inplace=True)

#pokemonDataNone = pokemonData[pokemonData["Name"]] 
#pokemonDataNone
pokemonData[(pokemonData["Name"] != "None") & (pokemonData["HP"] != 45) & (pokemonData["Type 1"] != "Rock")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [15]:


#index_list = pokemonData["Type 1"].str.rfind("ss") # replace("ss", "ss.")
#index_list
def fun(my_list):
    for word in my_list:
        index = word.rfind(".")
        # if index >= 0:
            
poke_list = pokemonData["Type 1"]
fun(poke_list)


pokemonData["Type 1"] = pokemonData["Type 1"].str.replace("[.]$", "", regex=True)
# [.]$
pokemonData

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [2]:
df = pd.read_csv('def.csv')
if(df.empty):
    print ('CSV file is empty')
else:
    print ('CSV file is not empty')

EmptyDataError: No columns to parse from file

In [ ]:
p=list(pokemonData['Name'])
##### REPLACE #######
#pokemonData1['Type 1'] = pokemonData1['Type 1'].str.strip().str.replace('G', "_").str.replace('F', "*****").str.replace('R', "|||")
#print("Before", pokemonData1['Type 2'].isnull().sum())
#pokemonData1['Type 2'].fillna('Unknown', inplace=True)
#print("After", pokemonData1['Type 2'].isnull().sum())
# pokemonData1['Attack'] = pokemonData1[pokemonData1['Attack']==110] = np.nan
#pokemonData1[pokemonData1["Type 2", "Name"].notnull()]
pokemonData1
pokemonData1['Type 2'].isna().sum() 
pokemonData['Type 1'].unique()
pokemonData[pokemonData['Type 1'] == 'Water']
a=pokemonData[pokemonData['Name'] == 'Squirtle']

name = str(a.Name.to_string())
name

### Type Conversion

In [ ]:
pokemonData2 = pokemonData1.rename(columns={'Type 2':'Type_2'})



def isNaN(string):
    return string != string
i=0
for index, row in enumerate(pokemonData2.itertuples(index=False), 1):
    if not isNaN(row.Type_2):
        print(index, row.Type_2)
        i+=1
print(i)

#### SPLITING  STRING rPartition########

In [ ]:
# pokemonData1["New"] = pokemonData1["Name"].str.replace(" ","_")
# pokemonData1["New"] = pokemonData1["Name"].str.rpartition(" ", expand=False)
# pokemonData1["New"] = pokemonData1["Name"].str.rsplit(pat=' ', expand=False)
# pokemonData1["New"] = pokemonData1["Name"].str.rfind(" ")
#pokemonData1["New"] = pokemonData1[
pokemonData1["New"]
#pokemonData1
#pokemonData1["Name"].str

pokemonData1["New"] = pokemonData1[pokemonData1["Name"].str.split(' ')]

pokemonData1

In [ ]:
pokemonData
pokemonData1
pokemonData_df=pokemonData.add_prefix('st1_')
pokemonData1_df=pokemonData1.add_prefix('st2_')
left = ['st1_#', 'st1_Name', 'st1_Type 1', 'st1_Type 2', 'st1_HP', 'st1_Attack', 'st1_Defense', 'st1_Sp. Atk',
       'st1_Sp. Def', 'st1_Speed', 'st1_Generation', 'st1_Legendary', 'st1_Total']

right = ['st2_#', 'st_Name', 'st2_Type 1', 'st2_Type 2', 'st2_HP', 'st2_Attack', 'st2_Defense', 'st2_Sp. Atk',
       'st2_Sp. Def', 'st2_Speed', 'st2_Generation', 'st2_Legendary', 'st2_Total']


merged_pokemonData_df = pokemonData_df.merge(pokemonData1_df, left_on=['st1_accountnum', 'st1_accounttype', 'st1_balance'], 
                     right_on=['st2_accountnum', 'st2_accounttype', 'st2_balance'], how='outer' )

def filter_data(df):
    if df['st1_accountnum'] == df['st2_accountnum'] and df['st1_accounttype'] == df['st2_accounttype'] and df['st1_balance'] ==  df['st2_balance']:
        return 1
    else:
        return 0

merged_statements_df['compare'] = merged_statements_df.apply(filter_data, axis=1)    
    
    
not_equal = merged_statements_df[merged_statements_df["compare"] == 0]  
equal = merged_statements_df[merged_statements_df["compare"] == 1]



pokemonData.merge(pokemonData1, left_on='Name', right_on='')

"""
pokemonData.merge(
        sub_pokemonData[pokemonData.Legendary == False], 
        left_on="Name",
        right_on="Name",
        how="inner"
)
"""
pokemonData
pokemonData1

In [3]:
pokemonData[pokemonData["Type 2"].notnull() & pokemonData["Legendary"].notnull()].drop_duplicates(subset=["Type 2"]) #[["Type 1"]]

pokemonData[pokemonData['Type 1'].str.contains('ps', na=False, case=False)]


#pokemonData['Type 1'].str.contains('ps', na=False, case=False)

#pokemonData[pokemonData['Name']=='Squirtle']

# x = pd.DataFrame(columns = ["A", "B"]) 
# x = pd.DataFrame({"A":[1, 2, 3], "B":[5, 6, 7]}) 
# x

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797     True
798     True
799    False
Name: Type 1, Length: 800, dtype: bool

In [ ]:
pokemonData.to_csv('modified1.csv')
poke = pd.read_csv('./modified1.csv')
poke

In [ ]:
pok=pokemonData[1:6]
pok

In [ ]:
# pok.to_csv("m.csv", index=False)
new_df = pokemonData.loc[(pokemonData['HP']>70) & (pokemonData["Type 1"]=="Water") & (pokemonData["Legendary"]==True)]
new_df
#new_df
#df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I,regex=True)]
#pokemonData.iloc[1]
pokemonData[0:5]

### MAKE DATAFRAME WITH SPECIFIED COLUMNS

In [ ]:
specify1

In [ ]:
print("Python World")

### SQL Queries in Pandas Way

### SELECT ALL

In [ ]:
# SELECT * from pokemonData;
pokemonData

### SELECT LIMIT DATA

In [ ]:
# SELECT * from pokemonData LIMIT 7;
pokemonData.head(7)

### SELECT WHERE CONDITION DATA & Required COLUMNS

In [ ]:
# SELECT #,Name FROM pokemonData WHERE Speed=16;
# pokemonData[pokemonData.Speed == 10]
#pokemonData[pokemonData.Speed == 10]["#"]  # For Single Column
pokemonData[pokemonData.Speed == 90][["#","Name","Speed","Type 1"]] # For Multiple Columns

### SELECT DATA WITH MULTIPLE CONDITION

In [ ]:
# SELECT * FROM pokemonData WHERE Speed=16 AND Attack=49;
pokemonData[(pokemonData.Speed == 45) & (pokemonData.Attack == 49)]

### Aggrgation MEAN, MEDIAN, MAX, MIN

In [ ]:
# SELECT mean(HP), max(HP), min(HP) FROM pokemonData;
pokemonData.agg({"HP":['mean',"median","max","min"],"Speed":["mean","median","max","min"]})

### UNIQUE DATA BY COLUMN

In [ ]:
# SELECT DISTINCT Speed FROM pokemonData;
pokemonData.Speed.unique()

### SORT VALUES BY ASCE/ DESC ORDERS

In [ ]:
# SELECT * FROM pokemonData WHERE Legendary="False" ORDER BY Speed ;
pokemonData[pokemonData.Legendary == True].sort_values("Speed", ascending=False)

### GROUP BY to FIND MULTIPLE OCCURANCE OF A VALUE

In [ ]:
# GROUP BY
# SELECT Legendary, HP, count(*) FROM pokemonData GROUP BY Legendary, HP;
pokemonData.groupby(['Legendary','HP']).size().to_frame("Occurance Count").reset_index()

pokemonData.groupby(['Legendary', 'HP']).size().to_frame("Occurance Count")#.reset_index()
# a.to_csv('abc.csv')

#pokemonData.groupby(['Legendary','HP']).size().to_frame("Occurance Count").reset_index().sort_values("HP", ascending=True)
# pokemonData[(pokemonData.HP == 125)&(pokemonData.Legendary == True)][["Name","Legendary","HP"]]

### Additional filter on Grouped Data by making use of HAVING

In [ ]:
# Select (additional filter on Grouped Data by making use of HAVING)
# SELECT HP, count(*) FROM pokemonData GROUP BY HAVING count(*) <3
pokemonData.groupby("HP").filter(lambda g:len(g) < 3).groupby("HP").size().to_frame("Occurance Count").reset_index()
# pokemonData.groupby("HP").filter(lambda g:len(g) < 3).groupby("HP").size().to_frame("Occurance Count").reset_index()
# >>> count_series = data.groupby(['user_id', 'product_id']).size()
# >>> new_df = count_series.to_frame(name = 'size').reset_index()

# grouped= pokemonData.groupby('Type 1').count()[""]
count_series = pokemonData.groupby('Type 1').size()
new_df = count_series.to_frame(name = 'size').reset_index()
new_df

pokemonData.groupby("HP").filter(lambda g:len(g) < 3).groupby("Legendary").size().to_frame("Occurance Count").reset_index()

### IN Query (isin)

In [ ]:
# SELECT * FROM pokemonData HP IN(20,30,40)

pokemonData[pokemonData.HP.isin([20,30,40])]

### NOT IN (~)

In [ ]:
# SELECT * FROM pokemonData HP NOT IN(20,30,40)

pokemonData[~pokemonData.HP.isin([20,30,40])]

### Top `N`  Observations

In [ ]:
# SELECT * FROM pokemonData ORDER BY HP DESC LIMIT 10
# OCCURANCES
pokemonData.nlargest(10, columns="Total").groupby(["Total"]).size().to_frame("Occurance Count").reset_index()

# TOP 10 Records of Total
pokemonData.nlargest(10, columns="Total")

### Top `N` Observations with Offset (Top 10 + Next 10 data)

In [ ]:
# SELECT * FROM pokemonData ORDER BY HP DESC LIMIT 10 OFFSET 10

pokemonData.nlargest(20, columns="Total").tail(10)

### UNION ALL & UNION(drop duplicates)

In [ ]:
# SELECT * FROM pokemonData WHERE HP > 50 UNION ALL SELECT * FROM sub_pokemonData HP < 45
# UNION ALL Contains Duplicates
# UNION REMOVE ALL Duplicate ROW

# UNION ALL
pd.concat([pokemonData[pokemonData.HP > 50], pokemonData[pokemonData.HP < 45]])

# UNION
pd.concat([pokemonData[pokemonData.HP > 50], pokemonData[pokemonData.HP < 45]]).drop_duplicates()

### JOIN (to join two different datasets with column values)

In [ ]:
# SELECT * FROM pokemonData p JOIN sub_pokemonData sp ON p.Name=sp.Name WHERE p.Legendary=False
# Original
pokemonData.merge(
        sub_pokemonData[pokemonData.Legendary == False], 
        left_on="Name",
        right_on="Name",
        how="inner"
)

# NON-Original
pokemonData.merge(
        pokemonData[pokemonData.Legendary == False], 
        left_on="Name",
        right_on="Name",
        how="inner"
)

### INSERT

In [ ]:
# INSERT INTO pokemonData VALUES(....)
# pokemonData=pokemonData.append({"#":800, "Name":"Phonixer", "Type 1":"Water", "Type 2":"Rock", "HP":"100","Attack":"100","Defense":"100",
#                     "Sp.Atk":"100","Sp.Def":"90","Speed":"80","Generation":"11","Legendary":"True","Total":"810"})

pokemonData[pokemonData.Speed >60]

### UPDATE

In [ ]:
# UPDATE pokemonData SET Total = 781 WHERE Total = 780 

pokemonData.loc[pokemonData['Total'] == 781, 'Total'] = 780

# pokemonData[pokemonData.Total == max(pokemonData["Total"])]

In [ ]:
pokemonData[pokemonData.Total == max(pokemonData["Total"])]

### DELETE

In [ ]:
# DELETE FROM pokemonData WHERE Generation = 1
#pokemonData = pokemonData.drop(pokemonData[pokemonData.Generation == 1].index)
pokemonData[pokemonData.Generation==1]

In [ ]:
for i in pokemonData.index:
    print(i)

### String Contains Check Similar to SQL LIKE/RegEX

In [ ]:
strdata = pokemonData[pokemonData["Name"].str.contains('char')]["Name"]

for index, like_data in enumerate(strdata):
    print(index, like_data)
    

#boolean_findings = df['a'].str.contains('diana')
#pokemonData

In [ ]:
data = {'num_legs': [4, 2, 0, 4, 2, 2],
        'num_wings': [0, 2, 0, 0, 2, 2],
         'class':['mammal', 'bird', 'fish', 'mammal', None,'mammal']}
df = pd.DataFrame(data,
                  index=['dog', 'hawk', 'shark', 'cat', 'crow', 'human'])

df[df['class'].str.contains('i', na=False)]

# Contains with
df[df['class'].str.contains('sh|rd', regex=True, na=True)]

# StartsWith
df[df.index.str.startswith('h', na=False)]

# EndsWith
df[df.index.str.endswith('k', na=False)]

df[df['class'].str.contains('i', na=False)]

# df.query('class.str.contains("i")', engine='python')

s = pd.Series(['20.03', '11', '23.0', '65', '60', 'a', None])

s.str.contains('\d', regex=True)
s.str.contains('\d.\d', regex=True)



df[df['class'].str.contains('i', na=False)]

df[["class"]]

In [ ]:
get_locs = pd.DataFrame()
get_locs